/* Global Section */

:root {
    ---primary-color: #6f2dbd;
    ---secondary-color: #b298dc;
    ---tertiary-color: #b9faf8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    color: var(---primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("../images/stars.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
}

/* Header Section */

header {
    display: flex;
    text-align: center;
    background-color: var(---tertiary-color);
    padding: 20px 35px 0px 35px;
    border: 5px solid var(---primary-color);
    margin: 10px;
}

header h1 {
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    color: var(---primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(---primary-color)
}

nav {
    margin: 7px 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul {
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

header li {
    padding: auto 5px;
}

header nav ul li {
    flex-direction: column;
    margin: 10px;
    padding: 10px 35px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li:hover {
    color: var(---secondary-color);
}

section{
    margin: 10px 40px 0px 40px;
    border-radius: 10%;
    background-color: var(---secondary-color);
    border: 5px solid var(---primary-color)
}

/* Hero Section */


.hero {
    align-items: flex-start;
    display: flex;
    justify-content: right;
    background-image: url("../images/stars.jpg");
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.hero .subtitle {
    margin: 10px;
    background-color: var(---tertiary-color);
    padding: 20px;
    line-height: 1.2;
    border: 5px solid var(---primary-color);
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.hero h2 {
    text-align: center;
    font-style: bold;
    font-size: 50px;
    color: var(---primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.titleContainer {
    margin: 10px;
    padding: 10px;
}

.section-title {
    width: 300px;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;   
    margin: auto;
    text-align: center;
}

/* About Me Section */
.bio {
    display: flex;
    flex-direction: column;
    
}

.codeBio {
    display: flex;
    justify-content: space-evenly;
    line-height: 1.5;
    width: 100%;
}

.bioTech {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
}

.bioLang {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
}

.bio p {
    flex: 1 50%;
    line-height: 1.5;
    color: var(---primary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}


.bioPara {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.bio img {
    flex: 0 5%;
    flex-direction: row;
    max-height: 300px;
    max-width: 300px;
    border: 5px solid var(---primary-color);
    border-radius: 50%;
    width: 300px;
    height: 300px;

}
/* My Work Section */

.my-work {
    padding: 10px;
    display: flex;
    flex-flow: row;
    margin: auto;
    align-items: center;
    max-width: 100%;
}

.my-work h

/* .main-card {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    align-items: center;
    width: 1.5;
    border: 5px solid var(---primary-color);
    flex: 1 50%;
    margin: 0 auto;
    max-width: fit-content;    
}


.main-card img {
    height: 1.5;
    width: 1.5;
    max-width: 100%;
    max-height: 300px;
    position: relative;
} */
.cards {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 1.5;
    max-width: 100%;
}

.work-card {
    display: flex;
    flex-flow: column-reverse;
    margin: 10px;
    border: 5px solid var(---primary-color);
    color: var(---primary-color);
    flex: 0 90%;
    border-radius: 10px;

}

.work-card img {
    height: 100%;
    width: 100%;
    min-width: 200px;
    max-height: 200px;
    position: relative;
    border-radius: 5px;
}

.card-title-box {
    background-color: var(---tertiary-color);
    padding: 10px;
    line-height: 1.2;
    align-self: baseline;
    margin: 5px;
    width: 1.5;
    z-index: 999;
    position: absolute;
    border-radius: 15px;
    border: 3px solid var(---primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.card-title-box:hover {
    background-color: var(---primary-color);
    color: var(---tertiary-color);
    border: 3px solid var(---tertiary-color);
}

/* Contact Box */

.contactContainer {
	padding: 12px 24px 24px 24px;
	margin: 48px 12px;
	background: #E3F2FD;
	border-radius: 4px;
}

.contactContainer h1 {
    margin: 5px;
}

.contactForm {
    justify-content: baseline;
    margin: 2px;
    padding: 5px;
}

.formControl {
    margin: 5px;
    padding: 5px;
}
/* Footer Section */

.contact-info {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
}

.contact-info a {
    color: var(---tertiary-color);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.contact-info a:hover {
    color: var(---secondary-color)
}

footer {
    margin: 0;
    flex-wrap: wrap;
    font-size: 1.5;
}

/* Media Queries */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 15px;
    
    }

    .contact-info a {
        text-align: center;
    }

    .my-work {
        flex-flow: wrap column;
    }

}

@media screen and (max-width: 720px) {

    header {
        justify-content: center;
        border: 10px solid var(---primary-color);
        padding: 10px;
    }

    header nav ul li {
        padding: 10px;
        margin: 5px;
        font-size: 15px;
        flex-direction: column;
        text-decoration: none;
    }

    .hero {
        justify-content: center;
    }

    .sidebar {
        justify-content: center;
    }

    .sidebar .section-title {
        margin: 10px;
    }

    .contact-info a {
        font-size: 15px;
    }

    .bio {
        font-size: 15px;
    }

    .bio h2 {
        font-size: 25px;
    }

    .section-title {
        width: 170px;
    }

    .bio p {
        font-size: 15px;
    }

}

@media screen and (max-width: 576px) {



    section {
        margin: 3px;
    }

    .subtitle h2 {
        font-size: 27px;
    }

    .section-title {
        font-size: 27px;
        margin: auto;
    }

    .bio {
        padding: 5px;
    }

    .bio p {
        font-size: 15px;
        margin: auto;
        padding: 10px;
    }

    .codeBio {
        font-size: 14px;
    }

    .work-card img {
        width: 300px;
    }
}